# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

## Author
Julian Reyes

**Objectives:**

- List popular languages for Data Science
- Identify commonly used libraries for Data Science
- Explore various development environments and tools in Data Science
- Evaluate arithmetic expressions in Python
- Understand basic operations and syntax in Jupyter Notebook

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Julia

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Numpy
3. Scikit Learn
4. Pytorch
5. Matplotlib
6. Seaborn

| Data Science Tools         |
|----------------------------|
| Jupyter Notebook           |
| RStudio                    |
| Apache Zeppelin            |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
result = 5 + 3
print(result)  # OUT: 8

8

In [3]:
result = 10 - 4
print(result)  # OUT: 6

6

In [4]:
result = 2 ** 3
print(result)  # OUT: 8

8

In [5]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335